/.idea/
/.venv/
venv/
env/
.env
.vscode/
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
pip-wheel-metadata/
build/
dist/
*.egg-info/
*.egg
/.pytest_cache/
.mypy_cache/
*.swp
*~
Thumbs.db
.DS_Store

